<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="Noticeboard.Admin.Admin1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server"  CssClass="btn-group">
    <asp:LinkButton runat="server" CommandName="Redirect" OnCommand="Redirect_Command" CommandArgument="~/Admin/Users" CssClass="btn btn-default"> Users</asp:LinkButton>
    <asp:LinkButton runat="server" CommandName="Redirect" OnCommand="Redirect_Command" CommandArgument="~/Admin/Categories" CssClass="btn btn-default"> Categories</asp:LinkButton>
    <asp:LinkButton runat="server" CommandName="Redirect" OnCommand="Redirect_Command" CommandArgument="~/Admin/Posts" CssClass="btn btn-default"> Posts</asp:LinkButton>
    <asp:LinkButton runat="server" CommandName="Redirect" OnCommand="Redirect_Command" CommandArgument="~/Admin/Comments" CssClass="btn btn-default"> Comments</asp:LinkButton>
    <asp:ContentPlaceHolder ID="AdminContent" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
